<form class="form-horizontal">
  <fieldset>
    <legend><strong>Mining Rig of <%= current_user.username %></strong></legend>
    <%= form_for [current_user, mining_rig] do |f| %>
      <div class="form-group">
        <%= f.label 'Mining Rig', class: 'col-md-4 control-label' %>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">Name:</span>
            <%= f.text_field :name, required: "required", class: 'form-control', placeholder: 'Antyhing you want' %>
          </div>
        </div>
      </div>
      <div class="col-md col-md-offset-4">
          <h3>Create a new Miner for this Mining Rig</h3>

          <p><%= number_to_currency(1000) %>USD, will get you 56TH/s</p>
          <p><%= number_to_currency(500) %>USD, will get you 28TH/s</p>
          <p><%= number_to_currency(250) %>USD, will get you 14TH/s</p>
      </div><br>
      <%= f.fields_for :miners, mining_rig.miners.build do |miners_fields| %>
        <div class="form-group">
          <%= miners_fields.label 'Hash rate', class: 'col-md-4 control-label' %>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">Hash Rate:</span>
              <%= miners_fields.number_field :hash_rate, required: "required", class: 'form-control' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id">Create</label>
        <div class="col-md-8">
          <%= f.submit  %>
        </div>
      </div>
    <% end %>
  </fieldset>
</form>
