<div class="omb_login">
  <h3 class="omb_authTitle"> Welcome Plese Sign Up</h3>
  <div class="row omb_row-sm-offset-3 omb_socialButtons">
    <div class="col-xs-6 col-sm">
      <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-lg btn-block omb_btn-facebook">
        <i class="fa fa-facebook visible-xs"></i>
        <span class="hidden-xs">Facebook</span>
      </a>
    </div>
  </div>

  <div class="row omb_row-sm-offset-3 omb_loginOr">
    <div class="col-xs-12 col-sm-6">
      <hr class="omb_hrOr">
      <span class="omb_spanOr">or</span>
    </div>
  </div>

  <%= devise_error_messages! %>

  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6 has-feedback">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "omb_loginForm") do |f| %>

        <div class="input-group">
          <div class="input-group-addon">
	          <span class="glyphicon glyphicon-user"></span>
          </div>
          <%= f.text_field :username, autofocus: true, required: "required", class: "form-control", placeholder: 'username' %>
        </div>

        <span class="help-block"></span>

        <div class="input-group">
          <div class="input-group-addon">
	          <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: 'required', class: "form-control", placeholder: "email address" %>
        </div>

        <span class="help-block"></span>

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="input-group">
          <div class="input-group-addon">
	          <span class="glyphicon glyphicon-lock"></span>
          </div>
          <%= f.password_field :password, autocomplete: "off", required: 'true', class: "form-control", placeholder: "password" %>
        </div>

        <span class="help-block"></span>

        <div class="input-group">
          <div class="input-group-addon">
	          <span class="glyphicon glyphicon-lock"></span>
          </div>
          <%= f.password_field :password, autocomplete: "off", required: 'true', class: "form-control", placeholder: "confirm password" %>
        </div>

        <span class="help-block"><%= devise_error_messages! %></span>

          <%= f.submit "Sign Up", class: 'btn btn-lg btn-primary btn-block'%>

      </form>
    </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<% end %>
