<h1>Wallet</h1>
<h4>Address: <%= @wallet.address %></h4>
<%= div_for @wallet.coins do |coin| %>
  <p><%= coin.name %>: <%= coin.amount %></p>
  <% if coin.amount != 0 %>
    <%= form_for coin do |f| %>
      <%= f.submit 'Sell Coin' %>
      <%= f.label :amount %>
      <%= f.text_field :amount%>
    <% end %>
  <% end %>
<% end %>
