<h1>Mining Rig of <%= current_user.username %></h1>

<%= form_for [current_user, mining_rig] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: "required" %>

  <h3>Create a new Miner for this Mining Rig:</h3>

  <p><%= number_to_currency(1000) %>USD, will get you 14TH/s</p>
  <p><%= number_to_currency(500) %>USD, will get you 7TH/s</p>
  <p><%= number_to_currency(250) %>USD, will get you 3TH/s</p>

  <%= f.fields_for :miners, mining_rig.miners.build do |miners_fields| %>
    <%= miners_fields.label :hash_rate %>
    <%= miners_fields.number_field :hash_rate, required: "required" %>
  <% end %>

  <br></br>

  <%= f.submit %>

  <h3>Total number of Miners: <%= mining_rig.total_miners %></h3>

  <br></br>

  <%= div_for miners do |miner| %>
    <% if !miner.id.nil? %>
      <%= render partial: 'miners/miner', locals: {miner: miner} %>
    <% end %>
  <% end %>
  
<% end %>
