<h1>Mining Rig of <%= current_user.username %></h1>

<%= form_for [current_user, mining_rig] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: "required" %>

  <h3>Number of Miners: <%= mining_rig.total_miners %></h3>

  <%= div_for miners do |miner| %>
    <p>Miner ID number: <%= miner.id %></p>
    <p>Miner consumption: <%= miner.consumption %>W</p>
    <p>Miner hash rate: <%= miner.hash_rate %>TH/s</p>
  <% end %>

  <h3>Create a new one:</h3>

  <p><%= number_to_currency(1000) %>USD, will get you 14TH/s</p>
  <p><%= number_to_currency(500) %>USD, will get you 7TH/s</p>
  <p><%= number_to_currency(250) %>USD, will get you 3.5TH/s</p>

  <%= f.fields_for :miners, mining_rig.miners.build do |miners_fields| %>
    <%= miners_fields.label :hash_rate %>
    <%= miners_fields.number_field :hash_rate, required: "required", within: 1...15 %>
  <% end %>

  <br></br>

  <%= f.submit %>
<% end %>
