<%= form_for [current_user, mining_rig], html: {  class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><strong>Mining Rig of <%= current_user.username %></strong></legend>
      <div class="form-group">
        <%= f.label 'Mining Rig', class: 'col-md-4 control-label' %>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">Name:</span>
            <%= f.text_field :name, required: "required", class: 'form-control', placeholder: 'Antyhing you want' %>
          </div>
        </div>
      </div>

      <div class="col-md col-md-offset-4">
          <h3>Create a new Miner for this Mining Rig</h3>

          <p><%= number_to_currency(1000) %>USD, will get you 56TH/s</p>
          <p><%= number_to_currency(500) %>USD, will get you 28TH/s</p>
          <p><%= number_to_currency(250) %>USD, will get you 14TH/s</p>
      </div><br>

      <%= f.fields_for :mining_rig_miners, @mining_rig_miner do |mining_rig_miners_fields| %>

        <div class="form-group">
          <%= mining_rig_miners_fields.label 'hash rate', class: 'col-md-4 control-label' %>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">Hash Rate:</span>
              <%= mining_rig_miners_fields.number_field :hash_rate, required: "required", class: 'form-control', placeholder: 'Choose from the options above' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= mining_rig_miners_fields.label 'brand', class: 'col-md-4 control-label' %>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">Brand:</span>
              <%= mining_rig_miners_fields.text_field :brand, required: "required", class: 'form-control', placeholder: 'The brand name for this miner' %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id">Create</label>
        <div class="col-md-8">
          <%= f.submit class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    <% end %>
  </fieldset>
</form>
