<% if current_user.mining_rigs.empty? %>
  <h1>You do not have any mining rigs click below to create a new one</h1>
<% else %>
  <h1>Here are all your mining rigs</h1>
<% end %>

<%= div_for @mining_rigs do |mining_rig| %>
  <h3>Name: <%= link_to mining_rig.name, user_mining_rig_path(mining_rig, current_user.id) %></h3>

  <p>Total miners: <%= mining_rig.total_miners %></p>
  <p>Total Miners consumption: W</p>
  <p>Total Miners hash rate: TH/s</p>


  <p><%= button_to 'Edit', edit_user_mining_rig_path(current_user.id, mining_rig), {method: 'get'} %></p>
  <p><%= button_to 'Start Mining' %></p>
<% end %>

<br></br>

<%= link_to 'New Mining Rig', new_user_mining_rig_path %>
