<% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"> <%= link_to "Profile", user_path(current_user) %> </li>
          <li role="presentation"> <%= link_to "Mining Rigs", user_mining_rigs_path(current_user) %></li>
          <li role="presentation"> <%= link_to "Rank", highest_balance_path %></li>
          <li role="presentation"> <%= link_to "Get More Energy", energy_packs_path %> </li>
          <li role="presentation"> <%= link_to "Wallet", user_wallet_path(current_user.wallet.id, current_user) %> </li>
          <li role="presentation"> <%= link_to "Log out", destroy_user_session_path, method: :delete%> </li>
         </ul>
       </div>
     </div>
  </nav>
<% end %>
<br><br>
