<!DOCTYPE html>

<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <title>Miner's Game</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  </head>
    <body class="bg">
      <%= render 'layouts/header' %>
      <div  id="main" class="container clear-top">
        <%= render 'layouts/message' %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
