<h4><strong><%= coin.name %>: <%= coin.amount %><span class="glyphicon glyphicon-bitcoin"></span></strong></h4>


<br><br>



<% if coin.amount != 0 %>

  <%= form_for coin do |f| %>
    <%= f.label 'Amount:' %>
    <%= f.text_field :amount%>
    <%= f.submit 'Sell Coin', class: 'btn btn-success btn-sm' %>
  <% end %>

<% end %>
